*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/img/linedpaper.png");
  padding: 0;
  margin: 0;
  font-family: PT Serif, Times, Serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.content {
    margin: 0 auto;
    max-width: 768px;
}

.story {
  margin: 2rem 1rem 1rem 1rem;
}

.viz {
  font-size: 0.9rem;
}

h1, h2 {
  padding-top: 1rem;
}

img.small {
  width: 200px;
  margin-right: 15px;
  float: left;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.25rem;
  text-align: right;
}

th {
  border-bottom: 1px solid #999;
}

.brand {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif; 
  font-weight: 900;
  font-size: 2.5rem;
  color: #57ad68;
  text-decoration: none;
}

.tagline  {
  font-weight: 400;
}

a {
  color: #57ad68;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding-bottom: 0px;
}

footer {
  padding-top: 50px;
}

#canvas-container {
    text-align: center;
    margin-top: 30px;
}

.tableformat td{
  text-align: right;
}

.tableformat th{
  text-align: center;
}

/* Code Styling */
pre {
  font-family: Source Code Pro, monospace;
  color: blue;
  padding: 0 5px;
}


/* Styling d3 graphs */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
}

@media all {
  html {font-size: 18px;}
}

@media all and (max-width:767px){
  html {font-size: 16px;
}
  
@media all and (max-width:480px){
  html {font-size: 14px;}
  img.small {float: none;}
}

@media all and (max-width:320px){
  html {font-size: 12px;}
  img.small {float: none;}
}

